/* Body */
body {
    margin:0;
    width: 100%;
    height: 100%;
}


h1{
  font-family: 'Trebuchet MS';
  font-size: 3em;
  padding-left: 0.8em;
  color: #09026C;
}



/* FAQ & Weitere Informationsquellen */
.faq_weitere_informationsquellen{
  font-family: 'Trebuchet MS';
  font-size: 1.5em;
  padding-left: 0.8em;
  color: #09026C;
  text-align: center;
  margin-top: 5em;
}


/* Schrift */
p{
    font-family: 'Trebuchet MS';
}



/* Navigation */
  /* Titel */
    .titel{
        float: left;
      }

    .navigation {
      margin: 0px 0px;
      padding: 0px 0px;
      margin-top: 1.4em;
      margin-right: 1em;
      float: right;
    }

  /* Navigation Bar */
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: relative;
      top: 0;
      width: 100%;
      font-family: 'Trebuchet MS';    
    }

  /* Navigation Button */
    .navigation,.n, .active  {
      display: block;
      color: white;
      text-align: center;
      padding: 9px 11px;
      text-decoration: none;
      color: #09026C;
      margin-right: 1em;
      margin-top: 0.5em;
    }

    .navigation a:hover:not(.active) {
      background-color: #BFBFC0;
      border-radius: 4px;
    }

    .active {
      background-color: #D6D6D7;
      border-radius: 4px;
    }

    .navigation{
      margin: 0px 0px;
      padding: 0px 0px;
      margin-top: 1.4em;
      margin-right: 1em;
      float: right;
    }

  
  /* Icons */
    .icons{
      float: right;
      margin-right: 4em;
      }


  /* Navigation Bar Unterstreichen*/
     hr {
      background-color:#08034C;
      color:#08034C;
      border:#08034C;
      height:3px;
      position: relative;
      margin-top: -1em;
  }



/* Frage / Antwort Tabelle*/
  table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 4em;
  }
  
  th, td {
    padding: 8px;
    padding-left: 2em;
    text-align: left;
    border-bottom: 1.5px solid #ddd;
    font-family: 'Trebuchet MS';
  }
  
  th{
      font-size: 20px;
  }
  tr:nth-child(even) {background-color: #89CBF8;}
  tr:nth-child(odd) {background-color: #D6EFFF;}



/* Links: Glossar/Fachliteratur/Bibliothek*/
  .quellen{
    position: absolute;
    right: 33em;
    top: 24em;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #015DBF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  /* Neues Element hinzufügen */
  .neues_element{
    margin: 4em;
  }

  .f2{
    text-decoration: none;
  }



/* Newsfeed */
  .newsfeed {
    background-color: #FEFEFE;
    font-family: 'Trebuchet MS';
    border: 1.5px #B8B9B9 solid;
    width: 450px;
    height: auto;
    padding:15px;
    position: absolute;
    right: 1em;
    top: 24em;
}

  input{
    width: 33em;
    height: 2em;
  }


  
  /* Button */
    .button {
      background-color: #004894; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }


    /* Bereitstellen */
    .bereitstellen:hover {
      background-color: white;
      color: black;
      border: 2px solid #e7e7e7;
    }


   /* Icon */
    .icon {
      padding: 10px;
      background: dodgerblue;
      color: white;
      min-width: 50px;
      text-align: center;
    }

   /* Eingabefeld: Eine Unterhaltung beginnen */
    .input-container {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      width: 100%;
      margin-bottom: 15px;
    }


    .input-field {
      width: 100%;
      padding: 10px;
      margin: 5px;
      outline: none;
    }

    .input-field:focus {
      border: 2px solid dodgerblue;
    }


   /* Set a style for the submit button */
    .btn {
      background-color: dodgerblue;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .btn:hover {
      opacity: 1;
    }

    .button2:hover {
      background-color: #008CBA;
      color: white;
    }