body {
    margin:0;
    width: 100%;
    height: 100%;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h2{
  font-family: 'Trebuchet MS';
  color: #09026C;
}

/* Navigation */

.titel{
    font-family: 'Trebuchet MS';
    font-size: 3em;
    padding-left: 0.8em;
    color: #09026C;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Trebuchet MS';
  position: relative;
  
}


.navigation, a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 11px;
  text-decoration: none;
  color: #09026C;
  margin-right: 1em;
  margin-top: -6px;
}

.navigation a:hover:not(.active) {
  background-color: #BFBFC0;
  border-radius: 4px;
}

.active {
  background-color: #D6D6D7;
  border-radius: 4px;
}

.setTextunder, p{
  margin: 0px 0px;
}
  

.titel{
    float: left;
}

hr {
    background-color:#08034C;
    color:#08034C;
    border:#08034C;
    height:3px;
    position: relative;
    margin-top: -1em;
  }


  .navigation{
      margin: 0px 0px;
      padding: 0px 0px;
      margin-top: 1.4em;
      margin-right: 1em;
      float: right;
  }

  .icons{
      float: right;
      margin-right: 4em;
  }


/* Unten findest du deine Gruppeneinteilung */
  
   h3{
      font-family: 'Trebuchet MS';
      color:#08034C;
    }

  .gruppeneinteilung {
    background-color: #CFDEF3;
    font-family: 'Trebuchet MS';
    border: 1.5px #B8B9B9 solid;
    width: 350px;
    height: auto;
    padding:15px;
    position: absolute;
    left: 1em;
    top: 17em;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 4em;
  font-size: 14px;
}

th, td {
  padding: 0px;
  padding-right: 13px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 1.5px solid #ddd;
  font-family: 'Trebuchet MS';
  font-size: 14px;
  overflow: hidden;
  vertical-align: top;
}


#spalte1 { width: 0px; }
#spalte2 { width: 20px; }
#spalte3 { width: 20px; }
#spalte4 { width: 20px; }
#spalte5 { width: 1000em; }
#spalte6 { width: 4320px; }

th{
    font-size: 14px;
}



/* Link-Übersicht aller MOOC-Gruppen​ */
.übersicht {
  background-color: #CFDEF3;
  font-family: 'Trebuchet MS';
  border: 1.5px #B8B9B9 solid;
  width: 700px;
  height: auto;
  padding:15px;
  position: absolute;
  margin-left: 27em;
  top: 17em;
}

/*MOOC Forum/MOOC Ablage Buttons​*/
.container {
  position: relative;
  width: 100%;
  max-width: 280px;
  float: right;
  margin-left: 80em;
}


.container img {
  width: 100%;
  height: auto;
  margin-top: 7em;
  margin-left: -2em;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 3em;
  margin-left: -2em;
}

.container .btn:hover {
  background-color: #09026C;
  color: white;
}