/* Body */
body {
    margin:0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS';
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Navigation */
  
  /* Titel */
  .titel{
    font-family: 'Trebuchet MS';
    font-size: 3em;
    padding-left: 0.8em;
    color: #09026C;
    float: left;
  }


/* Navigation Bar */
  ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   position: relative;
   top: 0;
   width: 100%;
   font-family: 'Trebuchet MS';

  }

/* Icons */
  .icons{
     text-align: right;
     margin-right: 4em;
  }


/* Navigation Button */
  .navigation, .nav, .active {
     display: block;
     color: white;
     text-align: center;
     padding: 9px 11px;
     text-decoration: none;
     color: #09026C;
     margin-right: 1em;
     margin-top: -12px;
  }

  .navigation a:hover:not(.active) {
    background-color: #BFBFC0;
    border-radius: 4px;
  }

  .active {
    background-color: #D6D6D7;
    border-radius: 4px;
  }

   .navigation{
    margin: 0px 0px;
    padding: 0px 0px;
    margin-top: 1.4em;
    margin-right: 1em;
    float: right;
  }

    .setTextunder, p{
    margin: 0px 0px;
    }
    

/* Navigation Unterstreichen*/
   hr {
    background-color:#08034C;
    color:#08034C;
    border:#08034C;
    height:3px;
    position: relative;
    margin-top: -1.5em;
  }


/* Text*/
.elearning{
    margin-top: 2em;
    margin-left: 5em;
    font-size: 17px;
}

/* Icons*/
.bild1{
    position: relative;
    margin-left: 40em; 
    margin-top: -10em;
}


/* Line*/
.line1 {
    background-color:#08034C;
    color:#08034C;
    border:#08034C;
    height: 1.5px;
    position: relative;
    margin-top: 1em;
    margin-left: 5em;
  }


  /* Bild rechts*/
  .bild2{
    position: relative;
    float: right;
    margin-top: -21em;
    margin-right: 4em;
  }