/* Body */
  body {
    margin:0;
    width: 100%;
    height: 100%;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }


/* Navigation */
  
  /* Titel */
    .titel{
      font-family: 'Trebuchet MS';
      font-size: 3em;
      padding-left: 0.8em;
      color: #09026C;
      float: left;
    }


  /* Navigation Bar */
    ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     position: relative;
     top: 0;
     width: 100%;
     font-family: 'Trebuchet MS';
  
    }

  /* Icons */
    .icons{
       text-align: right;
       margin-right: 4em;
    }


  /* Navigation Button */
    .navigation, a {
       display: block;
       color: white;
       text-align: center;
       padding: 9px 11px;
       text-decoration: none;
       color: #09026C;
       margin-right: 1em;
       margin-top: -6px;
    }

    .navigation a:hover:not(.active) {
      background-color: #BFBFC0;
      border-radius: 4px;
    }

    .active {
      background-color: #D6D6D7;
      border-radius: 4px;
    }

     .navigation{
      margin: 0px 0px;
      padding: 0px 0px;
      margin-top: 1.4em;
      margin-right: 1em;
      float: right;
    }

      .setTextunder, p{
      margin: 0px 0px;
      }
      

  /* Navigation Unterstreichen*/
     hr {
      background-color:#08034C;
      color:#08034C;
      border:#08034C;
      height: 3px;
      position: relative;
      margin-top: -1em;
    }


/* Dropdown Sprachauswahl */
.dropbtn {
  background-color:#0A80C4;
  font-family: 'Trebuchet MS';
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.dropdown {
  font-family: 'Trebuchet MS';
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7CA4CE;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px #7CA4CE;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #09026C;
}


/* Bild Links */
    .img1{
      margin: 4em;
      float: left;
      position: relative;
    }
  
/* Bild Rechts */
    .img2{
      margin: 4em;
      float: right;
      position: relative;
    }



/* Einleitungstext */
    .einleitungstext,
    .einleitungstext2{
      font-family: 'Trebuchet MS';
      color: #09026C;
      text-align: center;
      position: relative;
      top: 6em;
   }



/* Tabelle Week/Date/Completed */
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
      font-family: 'Trebuchet MS';
   }
  
  table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 10em;
    
  }
  
  th, td {
    padding: 15px;
    font-size: 18px;
    text-align: center;
  }

  th{
    font-size: 20px;
  }

  
.kalender{
    margin-left: 5em;
  }




  /* Typewriter: Herzlich Willkommen im Land der Agilität */
  .line-1{
    position: relative;
    font-family: 'Trebuchet MS';
    color: #09026C;
    text-align: center;
    top: 2em;  
    width: 24em;
    margin: 0 auto;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

h2{
  position: relative;
    font-family: 'Trebuchet MS';
    color: #09026C;
  text-align: center;
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 800ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(214, 89, 5, 0.75);}
  to{border-right-color: transparent;}
}





.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #015DBF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  float: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}